/.direnv
/onchain/dist-newstyle
/offchain/output
/offchain/dist
/offchain/generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago
.spago2nix*
result
result-*
.envrc
.direnv
/offchain/node_modules
/frontend/node_modules
offchain/test-data/chrome-user-data
offchaintest-data/preview
offchaintest-data/preprod
offchaintest-data/mainnet
offchaintest-data/keys
.projectile
.vscode
