*~
*.swp
*.swo
.idea
.projectile
.vscode
bower_components/
.pulp-cache/
output/
.psc-package/
.psc*
.purs*
.psa*
.spago
.spago2nix*
result
result-*
.envrc
.direnv
node_modules/
.projectile
dist/
output.js
offchain/generated-docs/
offchain/test-data/chrome-user-data
offchain/test-data/preview
offchain/test-data/preprod
offchain/test-data/mainnet
offchain/test-data/keys