.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 3vmin);
  color: white;
}

.AppBody {
  background-color: #282c34;
  height: 90vh;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TopLevelTabList{
  background-color: #282c34;
  color: white;
}


.frameContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.ScriptFrame, .NFTFrame {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid;
  height: 75vh;
  width: 98vw;
  background-color: lightgrey;
}
